button:hover {
    cursor: pointer;
}

a:hover {
    cursor: pointer;
}


.body-container {
    width: 100%;
}

.body-container-items {
    display: flex;
    background-color: gray;
    width: 100%;
}

.filters {
width: 20%;
background-color: red;
}

.all-cards-container {
    display: flex;
    flex-direction: column;
    /* background-color: blue; */
    width: 55%;
}

.maps-api-container {
    width: 25%;
}

.maps-api-container img {
    height: 100%;
}

.some-images {
    display: flex;
    height: 25rem;
    width: 100%;
    background-color: red;
    /* justify-content: center; */
}
.some-images img {
    display: flex;
    height: 25rem;
    width: 100%;
    /* background-color: red; */
}

.individual-image {
    display: flex;
    width: 33.33%;
    /* max-width: 100% */
}

.over-images {
    display: flex;
    justify-content:space-evenly;
    /* border-color: black; */
    /* border-width: 2px; */
    /* border-style: dotted; */
    /* background-color: blue; */
    width: 100%;
    position: absolute;
    top: 225px;
}

.mini-container {
    display: flex;
    flex-direction: column;
    width: 35rem;
    height: 15rem;
    /* background-color: pink; */
    /* background-color: rgba(245, 245, 245, 0.139); */
    color: white;
    font-size: 24px;
}

.mini-container h3 {
    color: white;
    font-family: 'Poppins','Helvetica Neue',Helvetica,Arial,sans-serif;;
    font-size: 48px;
}

.mini-container div {
    color: white;
    font-family: 'Poppins','Helvetica Neue',Helvetica,Arial,sans-serif;
}

.mini-container button {
    background-color: transparent;
    color: white;
    font-family: 'Poppins','Helvetica Neue',Helvetica,Arial,sans-serif;
    width: 3rem;
    border-color: white;

}


.mini-images {
    display: flex;
    align-items: end;
}

.mini-images button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    border-radius: 5px;
    width: 15rem;
    color: white;
    font-size: x-large;
    background-color: transparent;
    border-color: white;
}

.mini-images button:hover {
    background-color: rgba(245, 245, 245, 0.584);
    transition: 1s;
}

.details-right {
    margin-top: 1.8rem;
}

.mini-reviews {
    display: flex;
}

#hours-edit {
    display: flex;
    gap: 5px;
}
