/* TODO Add site wide styles */
#root {
    min-width: 1080px;
    overflow-x: hidden;
}


.Home {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: red; */
    /* height: 20rem; */
}

.background {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40rem;
    max-width: 120rem;
    /* background-color: blue; */
    position: absolute;
    top: 1px;
    width: 100%;
    /* z-index: 1; */
}

.background img {
    min-width: 70rem;
    height: 100%;
    width: 100%;
    /* object-fit: fill; */
    aspect-ratio: 3/2;
    overflow: hidden;
}

.recent-activity {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: purple; */
    /* height: fit-content; */
    min-height: 60rem;
    margin-top: 35rem;
    /* margin-top: 45%; */
    width: 100%;
    /* padding-bottom: 2rem; */
    border-bottom: solid 1px lightgray;
}

.Categories {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 4rem;
    /* row-gap: 2rem; */
    grid-auto-rows: 14rem; /* Reduce the row height */
    /* justify-content: center; */
    /* display: flex;
    justify-content: center; */
    /* background-color: yellow; */
    height: 40rem;
    width: 70%;
    /* align-items: center;
    gap: 2%;
    width: 70%; */
}

.category-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3%;
    border-width: 1px black;
    box-shadow: 0px 0px 10px -5px;
    height: 50%;
    width: 100%;
    padding-top: 1%;
    /* background-color: red; */
    height: 10rem;
}

.category-box:hover {
    box-shadow: 0px 0px 10px -2px;
    cursor: not-allowed;
}



.details-container {
    display: flex;
    flex-direction: column;
    /* background-color: purple; */
    height: 100rem;
}

/* .some-images {
    display: flex;
    justify-content: center;
    height: 20rem;
    background-color: blue;
    width: 100%;
} */

.location-details {
    display: flex;
    flex-direction: row;
    /* color: red; */
    /* background-color: indigo; */
    justify-content: center;
    height: 80rem;
}

.details-right {
    /* background-color: rgb(138, 91, 5); */
    width: 20%;
    height: fit-content;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    position: sticky;
    top: 4rem;
    border-radius: 4px;
    border: 1px solid #ebebeb;
    margin-top: 1.8rem;
    margin-left: 1rem;
}
.details-left {
    /* background-color: orange; */
    display: flex;
    flex-direction: column;
    width: 45%;
    align-items: center;
    justify-content: flex-start;
    height: 30rem;
    padding-top: 2rem;
}

.topLeft {
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding-bottom: 1.5rem;
    border-radius: 4px;
    border-bottom: 1px solid #ebebeb;
}

.topLeft button {
    height: 2.5rem;
    width: fit-content;
    background-color: white;
    border-width: thin;
    color: rgba(45,46,47,1);
    padding-left: 15px;
    padding-right: 15px;
    border-color: #ebebeb;
    border-collapse: collapse;
    border-spacing: 0;
    border-radius: 4px;
}

.WriteReview button {
    background-color: rgba(224,7,7,1);
}
.WriteReview button:hover {
    background-color: rgb(243, 8, 8);
    transition: .8s;
}

.Website-Section {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
}

.phone-section {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
}

.message-section {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
}
