/* TODO Add site wide styles */

.Home {
    display: flex;
    flex-direction: column;
    /* background-color: red; */
    /* height: 20rem; */
}

.background {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40rem;
    background-color: blue;
    position: absolute;
    top: 1px;
    width: 100%;
    z-index: 1;
}

.background img {
    height: 100%;
    width: 100%;
    object-fit: fill;
    aspect-ratio: 3/2;
}

.recent-activity {
    display: flex;
    justify-content: center;
    background-color: purple;
    height: 40rem;
    margin-top: 33.3rem;
}

.Categories {
    display: flex;
    justify-content: center;
    background-color: yellow;
    height: 40rem;
}

.search-container {
    color:red;
}

.grub-finder {
    color: red;
}

.nav-modals {
    display: flex;
    flex-direction: row;
    gap: 10px;
}


.details-container {
    display: flex;
    flex-direction: column;
    background-color: purple;
    height: 50rem;
}

/* .some-images {
    display: flex;
    justify-content: center;
    height: 20rem;
    background-color: blue;
    width: 100%;
} */

.location-details {
    display: flex;
    flex-direction: row;
    color: red;
    background-color: indigo;
    justify-content: space-around;
}

.details-right {
    background-color: orange;
    width: 25%;
    height: fit-content;
}
.details-left {
    background-color: orange;
    display: flex;
    flex-direction: column;
    width: 45%;
    align-items: center;
    justify-content: center;
    height: 6rem;
}

.topLeft {
    display: flex;
    flex-direction: row;
    gap: 15px;
}
