.error-message {
    display: flex;
    flex-direction: column;
    color: red;
    list-style: none;
    display: flex;
    justify-content: center;
    padding-right: 1.4rem;
}

.addLocationMain form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding:15px;
    max-width: 500px;
    width: 350px;
}
.UpdateLocationMain form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding:15px;
    max-width: 500px;
    width: 350px;
}


.submit-form {
    background-color: rgb(241, 7, 7);
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 8px;
    max-width: 500px;
    width: 350px;
}

.submit-form:hover {
    background-color: rgba(241, 7, 7, 0.915);
}

.addLocationMain {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}
.UpdateLocationMain {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.Form-Title{
    display: flex;
    justify-content: center;
    color: #aa0f14;
}

.addLocationForm label {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin-bottom: 5px;
    justify-items: center;
}
.UpdateLocationForm label {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin-bottom: 5px;
}

.Label {
    display: flex;
    flex-direction: column;
}

.description-form {
    max-width: 21.5rem;
}

.remove-button {
    background-color: darkred;
}
